<div class="container__big__card">
  <div class="big___card___photo">
    <img
      src="https://media.istockphoto.com/id/1641952534/pt/vetorial/light-bulb-with-idea-innovation-icon-science-invention-vector-icon-for-business-apps-and.jpg?s=612x612&w=0&k=20&c=OQ9TY8X91SnT8c9C34A47G4bE83IjbHgySjCRlTcBtc="
      alt="Imagem"
      height="200px"
      width="300px"
    />
  </div>

  <div class="big___card___content">
    <h1 class="big___card___title">Saiu novo blog da Dio</h1>
    <p class="big___card___description">
      A DIO (Digital Innovation One) é uma plataforma educacional voltada para a
      capacitação em tecnologia, oferecendo uma ampla variedade de cursos
      gratuitos e bootcamps para desenvolvedores e profissionais da área de TI.
      Ela conecta estudantes, empresas e especialistas do mercado, criando
      oportunidades de aprendizado prático e networking.
    </p>
  </div>
</div>
