.app__menu__title {
  color: black;
}
.app__menu__title > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 70px;
  font-family: "segoe UI";
  display: flex;
  justify-content: left;
}
.app__menu__title > hr {
  margin-top: 20px;
  margin-bottom: 10px;
}
